:root{
    /* The root theme will outline all colors generally as well as define
       the usecase variables according to the default color scheme.*/
  
    /* Clarity is Key */
    --color-bg:  #000000;
    --color-bg-secondary:  #121212;
    --color-border-gray: rgba(255, 255, 255, 0.1);
    --color-text: #ffffff;
    --color-text-secondary: #61CBF4;
    --color-faded-text: #3a3a3a;
    --color-panel-background: rgba(255, 255, 255, 0.3);
    --color-tech: #00A8FF;
    --color-tech-secondary: #007BFF;
    --color-green-highlight:  #00FF88;
    --color-green-dull:  #00E060;
    --color-alert: #FF0000;
    --color-warning:  #FFD500;
    --color-orange: #FF8C00;
    --color-gray: #B4B4B4;
    --color-icon-green: #00a338;
    --color-icon-red: #C00000;
    --color-icon-yellow: #FFC000;
    /* Use color variables for colors w/ multiple use cases*/
    --color-position-sim: var(--color-tech-secondary);
    --color-position-real: var(--color-green-dull);
    --color-gas-sim: var(--color-orange);
    --color-gas-real: var(--color-warning);
    --color-engine-on: var(--color-green-highlight);
    --color-engine-off: var(--color-alert);
    --color-blue-pattern-fg: var(--color-tech-secondary);
    --color-blue-pattern-bg: #7FC8F9;
    --color-icon-text: var(--color-text);
    --color-icon-on: var(--color-icon-green);
    --color-icon-off: var(--color-icon-red);
    --color-icon-disabled: var(--color-gray);
  }
  
  /* Max values for contrast */
  .theme-high-contrast {
    filter: brightness(1.0) contrast(1.5);
  }
  
  /* Max values of brightness and contrast filter */
  .theme-bright {
    filter: brightness(1.3) contrast(1.5);
  }
  
  /* Min values of brightness and contrast filter */
  .theme-dark {
    filter: brightness(0.75) contrast(0.75);
  }